<div class="container">
  <div class="details">
    <app-title title="Login" />

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmited"
        type="email"
        label="Email"
      />
      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmited"
        type="password"
        label="Password"
      />
      <default-button 
        text="login"
      />
      <div class="register">
        New User? &nbsp;
        <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">Register Here</a>
      </div>
    </form>
  </div>
</div>